{% extends "@App/profile.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block _update_profile_loopeatDisconnect_row %}
  {# @TODO: Figure out why this does not work, and remove the CSS hack #}
  {{ form_widget(form.loopeatDisconnect) }}
{% endblock _update_profile_loopeatDisconnect_row %}

{% block content %}
    <h2 class="page-header">
      {% trans %}profile.editProfile{%  endtrans %}
    </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">{% trans %}profile.edit.save{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}
